* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  overflow-x: hidden;
}

p {
	margin: 0px;
}

.none {
  display: none;
}
.show {
  display: block;
}

.numberYou {
  background-color: #4292c6;
}

.colorYou {
  color: #4292c6;
}

.numberCharacter {
  background-color: #C7245A;
}

.colorCharacter {
  color: #C7245A;
}

.numberScenario {
  background-color:#790096;
}

.colorScenario {
  color: #790096;
}
